# Define required providers
terraform {
  required_providers {
    sys11iam = {
      source = "syseleven/sys11iam"
    }
  }
}

# Configure the SysEleven IAM Provider for service account authentication (see configuration for regular accounts below)
provider "sys11iam" {
  serviceaccount_secret = "s11_orgsa_asdziuch-967s-aduc-123f-00asdasd8asd_9xjakshdkjOJPvk-36FJqasdmalkwaksnkajc"
  iam_url = "https://iam.stage-apis.syseleven.net"
}

# Get an SysEleven IAM organization
data "sys11iam_organization" "testorg" {
  id = "6bd591c7-f940-4ee4-8fe7-8fe9b76e51d6"
  name = "test_org"
}

# Create an SysEleven IAM organization project
resource "sys11iam_organization_project" "test_project" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  name = "testproject"
  description = "testdescription"
  tags = ["testing"]
  org_id = data.sys11iam_organization.testorg.id
}

# Create an SysEleven IAM organization membership
resource "sys11iam_organization_membership" "test_membership" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  id = "user-uuid-here"
  org_id = data.sys11iam_organization.testorg.id

  membership = {
    user_membership = {
      permissions = ["can_become_project_administrator_in_org"]
      affiliation = "member"
      membership_type = "user"
      email = "test@syseleven.net"
    }
  }
}

# Create an SysEleven IAM organization project membership
resource "sys11iam_organization_project_membership" "test_project_membership" {
  depends_on = [sys11iam_organization_project.test_project, sys11iam_organization_membership.test_membership]
  count = one(sys11iam_organization_membership.test_membership[*].is_active) == true ? 1 : 0
  org_id = data.sys11iam_organization.testorg.id
  project_id = sys11iam_organization_project.test_project[0].id
  project_name = sys11iam_organization_project.test_project[0].name
  id = sys11iam_organization_membership.test_membership[0].id

  membership = {
    user_membership = {
      permissions = ["can_become_administrator_in_project", "can_crud_permissions_in_project"]
      membership_type = "user"
      user = {
        email = "test@syseleven.net"
      }
    }
  }
}

# Create an SysEleven IAM  service account
resource "sys11iam_organization_serviceaccount" "test_serviceaccount" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  name = "deploy"
  description = "deployment account"
  org_id = data.sys11iam_organization.testorg.id
}

# Create an SysEleven IAM  organization contact
resource "sys11iam_organization_contact" "testorganization_contact" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  first_name = "Test"
  last_name = "Contact"
  notes = "test notes"
  email = "test@syseleven.net"
  phone = "+491684941254823"
  roles = ["Technical"]
  org_id = data.sys11iam_organization.testorg.id
}

# Create an SysEleven IAM  organization team
resource "sys11iam_organization_team" "testorganization_team" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  name = "testteam"
  description = "test team"
  tags = ["testing2"]
  organization_permissions = ["can_become_project_administrator_in_org"]
  org_id = data.sys11iam_organization.testorg.id
  
  project = [
    {
      id = sys11iam_organization_project.test_project[0].id
      name = sys11iam_organization_project.test_project[0].name
      project_permissions = ["can_become_administrator_in_project"]
    }
  ]
}


# Create an SysEleven IAM  organization team membership
resource "sys11iam_organization_team_membership" "testorganization_team_membership" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  team_id = sys11iam_organization_team.testorganization_team[0].id
  team_name = sys11iam_organization_team.testorganization_team[0].name
  id = sys11iam_organization_serviceaccount.test_serviceaccount[0].id
  org_id = data.sys11iam_organization.testorg.id
  membership_type = "service_account"

  membership = {
    service_account_team_membership = {
      membership_type = "service_account"
      service_account = {
        id = sys11iam_organization_serviceaccount.test_serviceaccount[0].id
        name = sys11iam_organization_serviceaccount.test_serviceaccount[0].name
      }
      team_permissions = ["can_manage_team_in_team"]
    }
  }
}

# Create an SysEleven IAM organization project S3User
resource "sys11iam_organization_project_s3user" "test_project_s3user" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  name = "tests3user"
  description = "test s3user"
  org_id = data.sys11iam_organization.testorg.id
  project_id = sys11iam_organization_project.test_project[0].id
}

# Create an SysEleven IAM organization project S3 User
resource "sys11iam_organization_project_s3user" "test_terraform_project_s3user" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  # count = 0
  name = "terraform-tests3user-new-name"
  description = "terraform test s3user- new description"
  org_id = data.sys11iam_organization.testorg.id
  project_id = sys11iam_organization_project.test_project[0].id
}

# Create a SysEleven IAM organization project S3 User key
resource "sys11iam_organization_project_s3user_key" "test_terraform_project_s3_user_key" {
  count = data.sys11iam_organization.testorg.is_active ? 1 : 0
  # count = 0
  s3_user_id = sys11iam_organization_project_s3user.test_terraform_project_s3user[0].id
  org_id = data.sys11iam_organization.testorg.id
  project_id = sys11iam_organization_project.test_project[0].id
}


